version: '3'

services:
    webservice:
        build: webservice
        expose: 
            - "80"
        ports:
            - "8080:80"

    database:
        build: database 
        expose: 
            - "5432"
        env_file: "config.env"

    healthcheck-go:
        build: healthcheck/go
        environment:
            INTERVAL: 5
        env_file: "config.env"
